
  <h1>Company Name: <%=@investment.company_name%></h1>
    <p>Amount Invested: <%=@investment.amount_invested%></p>
    <p>Years Until Return: <%=@investment.years_until_return%></p>


  <form action="/investments/<%=@investment.id%>" method='post'>
    <input type="hidden" name="_method" value="delete">

    <input type="submit" value="Delete Investment">

  </form>

  <form action="/investments/<%=@investment.id%>/edit" method="get">

    <input type="submit" value="Edit Investment">


  </form>